@font-face {
    font-family: 'oswald';
    src:url(src/Font/Oswald-VariableFont_wght.ttf);
}

* {
    font-family: 'oswald';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    background-image: url(src/BG1.png);
    background-attachment: fixed;
}

.container {
    background: rgba(255, 255, 255, 0.25);
    padding: 50px;
    width: 60%;
    margin: 50px auto;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.container h3{
    border-top: 1px solid gray;
    padding-bottom: 10px;
    padding-top: 10px;
}

.container p {
    text-align: center;
    margin-bottom: 30px;
    color: #666;
}

.text-box {
    margin-bottom: 20px;
    position: relative;
}

.text-box input,
.text-box select {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    color: #333;
}

.text-box input::placeholder,
.text-box select::placeholder {
    color: #aaa;
}

.text-box:hover input,
.text-box:hover select {
    background-color: rgba(255, 255, 255, 0.7);
}

input[type="submit"] {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.fullname, 
.address{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.fullname .text-box,
.address .text-box{
    flex: 1;
}

.fullname .text-box input,
.address .text-box input{
    width: 100%;
}

.text-box {
    margin-bottom: 10px;
}

.email-phone {
    display: flex;
    gap: 15px;
    align-items: flex-start;
}

th, td{
    padding: 10px;
}

.email-phone .text-box {
    flex: 1;
}

.email, .phone, .address{
    display: flex;
    flex-direction: column;
    flex: 1;
}

input[type="text"],
input[type="url"],
input[type="tel"],
input[type="date"],
input[type="email"],
select, option {
    margin-bottom: 20px;
}

.radio-buttons {
    display: flex;
    gap: 65px;
}

/* .radio-buttons .text-box {
    flex: 0;
} */

.radio-buttons input[type="radio"] {
    margin-right: 5px;
}

.radio-buttons label {
    margin-right: 15px;
}

.emergency-contacts {
    display: flex;
    gap: 15px;
}

.emergency-contacts .text-box {
    flex: 1;
}

.emergency-contacts .text-box input {
    width: 50%;
}

.delete-buttons input[type="submit"]{        
    margin-bottom: 20px;
}

.delete-buttons input[type="submit"]:hover{        
    background-color: black;
}

.update-buttons input[type="submit"]:hover{        
    background-color: black;
}